* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

/*
styling for the full viewport/game area
*/
.wrapper {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(
        134.34% 134.34% at 50% 0%,
        #1f3757 0%, 
        #131537 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
styling for the full header that contains the title and scorecard
*/
.scoreboard {
    width: 60vw;
    border: 1px solid hsl(217, 16%, 45%);
    border-radius: 15px;
    margin-top: 50px;
    height: 150px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

/*
styling for the title image
*/
.title {
    margin-left: 30px;
}

/*
styling for the scorecard
*/
.score {
    width: 150px;
    height: 114px;
    background-color: white;
    border-radius: 8px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
styling for score text
*/
.score h1 {
    color: hsl(229, 64%, 46%);
    font-size: 56px;
}

.score p {
    color: hsl(229, 25%, 31%);
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 2px;
}

/*
styling/positioning for button images
*/
.hands {
    width: 60vw;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    background-image: url(/assets/images/bg-pentagon.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.spock, .paper {
    margin-top: 100px;
}

.lizard {
    margin-right: 20px;
}

.rock {
    margin-left: 20px;
}

/*
animation/hover effects for button images
*/
.hands .hand {
    cursor: pointer;
    transition: all 0.25s;
}
 
.hands .hand:hover {
    transform: translate3d(0px, -8px, 0px);
}

/*
styling/positioning for win/lose/draw screen
*/

.contest {
    width: 900px;
    display: none;
    margin-top: 50px;
}

.contest img {
    height: 275px;
    width: 275px;
}

.contest > div {
    flex: 1;
}

.contest h1 {
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.handImageContainer {
    display: flex;
    justify-content: center;
}

.referee {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.referee h1 {
    font-size: 45px;
}

.newGame {
    background-color: white;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    color: hsl(229, 25%, 31%);
    transition: all 0.15s;
}

.newGame:hover {
    background-color: bisque;
    transform: translate3d(0px, -2px, 0px);
}
